@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

$font-main: "Lato", sans-serif;
$primary-color: #009EE3;
$text-color: rgb(68, 68, 68);

/* Reset css*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 12.5% auto auto auto 12.5%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header header"
    "welcome welcome welcome welcome welcome"
    "why why why why why"
    "products products products products products"
    "about about about about about"
    "contact contact contact contact contact "
    "footer footer footer footer footer";
  font-family: $font-main;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $text-color;
}

a {
  text-decoration: none;
}

/**** Header ****/
.header {
  grid-area: header;
  height: 20vh;
}

.logo-box {
  position: absolute;
  top: 20px;
  left: 12.5%;
}

.logo {
  max-width: 50%;
}

.menu {
  position: absolute;
  right: 12.5%;
  top: 20px;
  display: inline-block;
}

.menu ul li{
  display: inline-block;
  padding: 10px 20px;
  transition: all 3s ease-out;
}

.menu ul li a {
  transition: all 0.5s ease-out;
  color: $text-color;
}

.menu ul li:hover {
  border-radius: 10px;
  background-color: $primary-color;
  transition: all 1s ease-out;
  cursor: pointer;
}

.menu ul li:hover a {
	color: white;
}

.welcome {
	grid-area: welcome;
	max-height: 40vh;
	overflow: hidden;
	background-color: black;
}

video {
  width: 100%;

}